@model EbsTisbiBook.WebAppMVC.Models.Library.Book

@{
    ViewData["Title"] = "Редактирование";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Издание</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleAdditional" class="control-label"></label>
                <input asp-for="TitleAdditional" class="form-control" />
                <span asp-validation-for="TitleAdditional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Liability" class="control-label"></label>
                <input asp-for="Liability" class="form-control" />
                <span asp-validation-for="Liability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubhouseId" class="control-label"></label>
                <select asp-for="PubhouseId" class="form-control" asp-items="ViewBag.PubhouseId"></select>
                <span asp-validation-for="PubhouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pubyear" class="control-label"></label>
                <input asp-for="Pubyear" class="form-control" />
                <span asp-validation-for="Pubyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubtypeId" class="control-label"></label>
                <select asp-for="PubtypeId" class="form-control" asp-items="ViewBag.PubtypeId"></select>
                <span asp-validation-for="PubtypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FgosId" class="control-label"></label>
                <select asp-for="FgosId" class="form-control" asp-items="ViewBag.FgosId"></select>
                <span asp-validation-for="FgosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialPurposeId" class="control-label"></label>
                <select asp-for="SpecialPurposeId" class="form-control" asp-items="ViewBag.SpecialPurposeId"></select>
                <span asp-validation-for="SpecialPurposeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
