<head>
    <link rel="stylesheet" href="css/index.css">
</head>
<section id="content" class="content">
    <div class="main-container">
        <div class="wrapper">
            <div class="offer-presentation-group">
                <div class="offer-container">
                    <img class="tisbi-logo" src="img/index/tisbi-logo.png" alt="TISBI Logo">
                    <h1 class="offer-header">
                        TISBI Books - Электронная билиотечная система 
                    </h1>
                    <div class="offer-text">
                        Доступ более чем к 1488 000 изданий
                    </div>
                    <button type="button" class="offer-main-button">
                        Поиск
                    </button>
                </div>
                <div class="presentation-container">
                    <img src="img/index/happy-asshole.png" alt="Happy student" >
                    <div class="presentation-title">
                        Меня отчислили
                    </div>
                    <div class="presentation-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                        mollit anim id est laborum.
                    </div>
                </div>
                <input class="presentation-button-left" type="image" src="img/index/button-left.svg" alt="Кнопка влево">
                <input class="presentation-button-right" type="image" src="img/index/button-right.svg" alt="Кнопка вправо">
            </div>
        </div>
    </div>    
</section>
