
/* --------Content-------- */

.cover-info-group {
    display: flex;
}

.book-background {
    width: 269px;
    height: 419px;
    border-radius: 23px;
    background: #fff;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(4px 5px 10px rgba(0, 0, 0, 0.25));
}

.book-background img {
    margin: auto;
}

.read-book-btn {
    width: 269px;
    height: 64px;
    margin-top: 22px;
    border: 0;
    padding: 0;
    background: linear-gradient(97.14deg, #00D52F -9.06%, #009821 53.33%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background .55s ease;
}

.read-book-btn:hover {
    background: linear-gradient(97.14deg, #00DE31 -9.06%, #00A725 53.33%);
}
.read-book-btn:active {
    background: linear-gradient(97.14deg, #00881E -9.06%, #009420 53.33%);
}

/* ------------About book----------- */

.about-book {
    margin-left: 31px;
    filter: drop-shadow(4px 5px 10px rgba(0, 0, 0, 0.25));

}

.text-container {
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 29px;
    color: #FFFFFF;
}

.book-info-container {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    width: 814.69px;
    margin-bottom: 24.33px;
}

.book-cover {
    width: 225px;
    height: 388px;
}

.publisher {
    display: inline-flex;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    width: 652px;
}

.attributes-container {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
}

.attribute {
	margin: 0 0 39px 0;
	overflow: hidden;    
}

.attribute dt {
	margin: 0;
	width: 175px;
	float: left;
	clear: both;
    font-style: normal;
    font-weight: bold;
}

.attribute dd {
	margin: 0 0 0 230px;
    font-style: normal;
    font-weight: normal;
}

