/* -----------Offer------------ */

.offer-presentation-group {
    display: flex;
}

.offer-container {
    width: 722px;
    height: 340px;
    margin-bottom: 205px;
    margin-top: 55px;
}

.tisbi-logo {
    margin-bottom: 29px;
}

.offer-header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 11px;
}

.offer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    margin-bottom: 44px;
}

.offer-main-button {
    width: 271.93px;
    height: 57px;
    background: linear-gradient(97.14deg, #00D52F -9.06%, #009821 53.33%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.offer-main-button:hover {
    background: linear-gradient(97.14deg, #00DE31 -9.06%, #00A725 53.33%);
}

.offer-main-button:active {
    background: linear-gradient(97.14deg, #00881E -9.06%, #009420 53.33%);
}
/* -----------Presentation------------ */

.presentation-container {
    position: absolute;
    width: 822;
    height: 0;
    left: 1098px;
    top: 211px;
}

.presentation-title {
    position: absolute;
    width: 633px;
    height: 91px;
    left: 77px;
    top: 393px;

    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.presentation-text {
    position: absolute;
    width: 650px;
    height: 143px;
    left: 82px;
    top: 471px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.presentation-button-left {
    position: absolute;
    width: 46.3px;
    height: 46.3px;
    left: 1180.12px;
    top: 854.7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.presentation-button-right {
    position: absolute;
    width: 46.3px;
    height: 46.3px;
    left: 1247.7px;
    top: 854.7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

