.sign-in-container {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    width: 568px;
    margin-top: 167px;
    margin-bottom: 167px;
    margin-left: 300px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 48px;
    text-align: center;
}

.text-container {
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 29px;
    color: #FFFFFF;
}

.authentication {
    width: 300px;
    align-items: center;
}

.authentication input{
    height: 32px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 10pt;
    float: left;
    color: #9A9A9A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23.5px;
    margin-bottom: 48px;
    padding-left: 12px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.authentication input::-webkit-input-placeholder {
    color: #65737e;
}
  
.authentication input::-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
  
.authentication input::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
  
.authentication input::-ms-input-placeholder {  
    color: #65737e;  
}

.authentication input:hover,
.authentication input:focus,
.authentication input:active{
  outline:none;
  background: #ffffff;
}

.remember-me {
    vertical-align: middle;
    display: inline-flex;
}

.left-column {
    width: 250px;
}

.right-column {
    vertical-align: baseline;
}

.signin-button {
    width: 271.93px;
    height: 57px;
    background: linear-gradient(97.14deg, #00D52F -9.06%, #009821 53.33%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    border: none;
    position: relative;
    margin-bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signin-button:hover {
    background: linear-gradient(97.14deg, #00DE31 -9.06%, #00A725 53.33%);
}

.signin-button:active {
    background: linear-gradient(97.14deg, #00881E -9.06%, #009420 53.33%);
}